<%- include layout/head %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
    <div class = "container">
      <div class = "row">
        <div class = "col col-md-6">
          <form action="/events" method="post">
            <div class = "form-group">
              <label for="title">Tittle:</label>
              <input type="text" name="title" placeholder="input your user title" class="form-control" id="title">
            </div>
            <div class = "form-group">
              <label for="description">Description:</label>
              <div>
                <textarea name="description" rows="3" class="form-control" id="description"></textarea>
              </div>
            </div>
            <div class = "form-group">
              <label for="place">Place :</label>
              <input type="text" name="place" placeholder="input your place" class= "form-control" id="place">
            </div>
            <div class = "form-group">
              <label for="datetime">Date Time:</label>
              <input type="date" name="datetime" placeholder="input your date" class="form-control" id="datetime">
            </div>
            <div class = "form-group">
              <label for="CategoryId">Category Id:<br>
              <input type="text" name="CategoryId" placeholder="input your CategoryId" class="form-control" id="CategoryId">
            </div>
            <div class = "form-group">
              <label for ="UserId">UserId :</label>
              <input type="text" name="UserId" placeholder="input your place" class="form-control" id="UserId">
            </div>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
<%- include layout/foot %>
