<%- include layout/head %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
    <a href="/events/addevent">add event</a>

  <div class="container">
    <div class="col-md-12 text-center">
      <h1> Tittle </h1>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <p class="card-title">Description</p>
                  <p class="card-text">
                        Pokémon Event at Toys R Us 5/13
                        Still haven’t gotten your hands on Pokémon Sun & Pokémon Moon? Here’s a chance to experience the fun and discover all-new Pokémon as a Pokémon Trainer this Saturday, May 13th at Toys R Us stores from 1pm – 3pm (local time). Pokémon Sun and Pokémon Moon will be available to play at select Toys R Us stores along with a Pokémon Trade & Collect event. In addition to fun giveaways and activities, attendees can receive a free Tapu Koko poster when they play the Pokémon Sun and Pokémon Moon demo at select stores!

                        Click here for more details on the Pokémon Trade & Collect event.

                        For more information on the games, check out the official site.</p>
                </div>
                <div class="col">
                  <p class="card-title"> Category </p>
                  <ul class="list-group">
                    <li class="list-group-item">category</li>
                    <li class="list-group-item">place</li>
                    <li class="list-group-item">date time</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <p class="card-title"> Participant </p>
        <ul class="list-group">
          <li class="list-group-item">saya</li>
          <li class="list-group-item">kamu</li>
          <li class="list-group-item">dia</li>
          <li class="list-group-item">
            <div class="col-md-12 text-center">
              <button class="btn btn-primary" type="submit">Participate</button>
            </div>
          </li>
        </ul>
      </div>
  </div>
<%- include layout/foot %>
