<%- include layout/head %>

<form action="/login" method="post">
  <fieldset>
    <legend>Personal information:</legend>
    Username:<br>
    <input type="text" name="username" placeholder="input your user name">
    <br>
    Password:<br>
    <input type="password" name="password" placeholder="input your password">
    <br><br>
    <!-- SubjectId:<br>
    <input type="text" name="SubjectId" placeholder="input Subject ID">
    <br><br> -->
    <input type="submit" value="Submit">
  </fieldset>
</form>

<%- include layout/foot %>
