<%- include layout/head %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
    <form action="/signup" method="post">
      <fieldset>
        <legend>Personal information:</legend>
        Username:<br>
        <input type="text" name="username" placeholder="input your user name">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="input your password">
        <br>
        Full name:<br>
        <input type="text" name="full_name" placeholder="input your full name">
        <br>
        Email:<br>
        <input type="text" name="email" placeholder="input your email">
        <br><br>
        <input type="submit" value="Submit">
      </fieldset>
    </form>

<%- include layout/foot %>
